<nav>
	<div class="logo">
		<div class="logo-devel">DEVEL</div>
		<div class="logo-star">STAR</div>
	</div>
	<div class="nav-links">
		<div><%= link_to 'Home', root_path, class: "nav-link" %></div>
		<div><%= link_to 'About', root_path, class: "nav-link" %></div>
		<div><%= link_to 'Contact', root_path, class: "nav-link" %></div>
	</div>
</nav>