<div class="contact", id="Contact-me" >
	<div>Contact Me</div>
	<!-- <div><i class="bi bi-telephone"></i>  <h3>9012626767</h3></div> -->
	<div class="contact-links">
		<div><i class="bi bi-github"></i></div>
		<div><i class="bi bi-instagram"></i></div>
		<div><i class="bi bi-whatsapp"></i></div>
    </div>
    <div><p>World Travel &copy; 2022 All Rights Reserved</p></div>
</div>