<div class="my_creation", id="project">
	<div class="heading">
		My Creation
	</div>
	<div class="creation">
		<div class="div1"></div>
		<div class="div1"></div>
		<div class="div1"></div>
	</div>
</div>