<div class="home", id="home">
	<div class="first-box">
		<div class="first-box-content">
			<div><h3>Hello! my name is</h3></div>
			<div class="first-box-name">
				<h1>Mohd</h1>
			    <h1 class="first-box-akibu">Akibuddin</h1>
		    </div>
			<div><h3>I am a Web Developer.</h3></div>
		</div>
		<div class="first-box-img"></div>
	</div>
</div>
<%= render 'my_creation' %>
<%= render 'chance' %>
<%= render 'about' %>
<%= render 'contact' %>