nav{
/*	border: 2px solid red;*/
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	width: 80%;
	margin: auto;
}
.logo{
/*	border: 2px solid red;*/
	font-size: 3rem;
	display: flex;
	font-weight: bolder;
}
.logo .logo-devel{
	color: white;
}
.logo .logo-star{
	color: red;
}
.nav-links{
/*	border: 2px solid red;*/
	display: flex;
	justify-content: space-between;
	width: 25%;
	font-size: 2rem;
	padding-top: 0.5rem;
}
.nav-link{
	text-decoration: none;
	color: white;
}